@using Microsoft.AspNetCore.Identity
@using JobBoard.Models
@using Constants = JobBoard.Constants

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);

    var isAdmin =
        currentUser != null
        && await UserManager.IsInRoleAsync(currentUser, Constants.AdministratorRole);

    if (isAdmin)
    {
        <li>
            <a class="nav-link text-dark" asp-controller="ManageUsers" asp-action="Index">Manage Users</a>
        </li>
        
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Source" asp-action="Index">Sources</a>
        </li>
        
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Index">Jobs</a>
        </li>
        
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Classification" asp-action="Index">Classification</a>
        </li>
        
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Keyword" asp-action="Index">Keyword</a>
        </li>
    }
}

