@model ClassificationViewModel

@{
    ViewData["Title"] = "Classification";
}

<div class="panel panel-default entry-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Classification Name
            </th>
            <th>
                Keyword
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var res in Model.Documents)
            {
            <tr>
                <td>
                    @res.Class
                </td>
                <td>
                    @res.Text
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
