@model ClassificationViewModel

@{
    ViewData["Title"] = "Manage Classifications";
}

<div class="panel panel-default entry-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Created Date
            </th>
            <th>
                Active
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var classification in Model.Classifications)
        {
            <tr>
                <td>@classification.Name</td>
                <td>foreverago</td>
                <td>@classification.Active</td>
            </tr>
        }
        </tbody>
    </table>
</div>
