@model ManageUsersViewModel

@{
    ViewData["Title"] = "Manage Users";
}

<h2>@ViewData["Title"]</h2>
<h3>Administrators</h3>
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Email</td>
    </tr>
    </thead>
    
    @foreach (var user in Model.Administrators)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr> 
    }
</table>

<h3>Everyone</h3>
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Email</td>
    </tr>
    </thead>
    
    @foreach (var user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr> 
    }
</table>

