@using Humanizer
@model JobViewModel

@{
    ViewData["Title"] = "Manage Jobs";
}

<div class="panel panel-default entry-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Link
            </th>
            <th>
                Title
            </th>
            <th>
                Published Date
            </th>
            <th>
                Active
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var job in Model.Jobs)
        {
            <tr>
                <td>@job.Link</td>
                <td>@job.Title</td>
                <td>foreverago</td>
                <td>@job.Active</td>
                <td>
                    <a asp-action="ClassifyJob" asp-route-id="@job.Id">Classify</a>  
                    <a asp-action="TagJob" asp-route-id="@job.Id">Tag</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
