@model KeywordViewModel

@{
    ViewData["Title"] = "Manage Keywords";
}

<div class="panel panel-default entry-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Word
            </th>
            <th>
                Classification
            </th>
            <th>
                Created Date
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var keyword in Model.Keywords)
        {
            <tr>
                <td>@keyword.Word</td>
                <td>@keyword.Classification.Name</td>
                <td>foreverago</td>
            </tr>
        }
        </tbody>
    </table>
</div>
